<ion-view title="" nav-transition="none" id="page11" style="background-color:#DEEDF1;">
  <ion-content padding="false" class="has-header">
    <ion-list id="page11-list11">
      <ion-item class="item-avatar" id="page11-list-item18">
        <h2>Carolina Emma Horta Lucero</h2>
      </ion-item>
    </ion-list>
    <div class="logo1">
      <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="page11-heading24" style="color:#505151;font-weight:600;text-align:center;">Conmemoraciones</h4>
    <form id="page11-form11" class="list">
      <h4 id="page11-heading25" style="color:#2075BA;font-weight:600;text-align:center;" class="title1">Nombre Conmemoración</h4>
      <h3 id="page11-heading26" style="color:#555353;text-align:center;">22/06/2014</h3>
      <div id="page11-markdown2" style="text-align:center;" class="show-list-numbers-and-dots biografia">
        <p style="color:#505151;">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. </p>
      </div>
      <button id="page11-button12" class="button button-assertive  boton6">Eliminar</button>
      <h4 id="page11-heading40" style="color:#2075BA;font-weight:600;text-align:center;" class="title1">Nombre Conmemoración</h4>
      <h3 id="page11-heading41" style="color:#555353;text-align:center;">22/06/2014</h3>
      <div id="page11-markdown4" style="text-align:center;" class="show-list-numbers-and-dots biografia">
        <p style="color:#505151;">Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. </p>
      </div>
      <button id="page11-button14" class="button button-assertive  boton6">Eliminar</button>
      <button id="page11-button15" class="button button-balanced  boton">Crear Fecha</button>
      <ion-item class="item-icon-left  botones" id="page11-list-item19" ui-sref="menu.page23">
        <i class="icon No Icon"></i>SERVICIOS</ion-item>
    </form>
  </ion-content>
</ion-view>