<ion-view title="" nav-transition="none" id="page15" style="background-color:#DEEDF1;">
  <ion-content padding="false" class="has-header">
    <ion-list id="page15-list15">
      <ion-item class="item-avatar" id="page15-list-item32">
        <h2>Carolina Emma Horta Lucero</h2>
      </ion-item>
    </ion-list>
    <div class="logo1">
      <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="page15-heading51" style="color:#505151;font-weight:600;text-align:center;">Registro</h4>
    <form id="page15-form15" class="list">
      <div class="perfil">
        <img src="img/sArxEldbQSqmkN46gHBU_perfil1.jpg" style="display: block; margin-left: auto; margin-right: auto;">
      </div>
      <h1 id="page15-heading52" style="color:#505151;font-weight:600;text-align:center;">Carolina María Riquelme Vera</h1>
      <h3 id="page15-heading53" style="color:#555353;text-align:center;">carolina@gmail.com</h3>
      <h3 id="page15-heading59" style="color:#555353;text-align:center;">Sexo Femenino</h3>
      <h3 id="page15-heading54" style="color:#555353;text-align:center;">Nacimiento 22/12/1955</h3>
      <h3 id="page15-heading56" style="color:#555353;text-align:center;">13.653.876-3</h3>
      <h3 id="page15-heading57" style="color:#555353;text-align:center;">Chile- Valparaíso</h3>
      <a ui-sref="menu.page16" id="page15-button20" class="button button-assertive  boton5">Editar Datos</a>
      <a ui-sref="menu.page17" id="page15-button21" class="button button-balanced  boton5">Confirmar</a>
      <ion-item class="item-icon-left  botones" id="page15-list-item33" ui-sref="menu.page23">
        <i class="icon No Icon"></i>SERVICIOS</ion-item>
    </form>
  </ion-content>
</ion-view>