<ion-view title="" id="page23" style="background-color:#DEEDF1;">
  <ion-content padding="false" class="has-header">
    <ion-list id="page23-list23">
      <ion-item class="item-avatar" id="page23-list-item55">
        <h2>Carolina Emma Horta Lucero</h2>
      </ion-item>
    </ion-list>
    <div class="logo1">
      <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="page23-heading84" style="color:#505151;font-weight:600;text-align:center;">Buscar Servicio</h4>
    <form id="page23-form23" class="list">
      <label class="item item-select inp" id="page23-select33">
        <span class="input-label">Categoría</span>
        <select>
          <option></option>
          <option>Femenino</option>
          <option>Maculino</option>
        </select>
      </label>
      <label class="item item-select inp" id="page23-select34">
        <span class="input-label">País</span>
        <select></select>
      </label>
      <label class="item item-select inp" id="page23-select35">
        <span class="input-label">Ciudad</span>
        <select></select>
      </label>
      <a ui-sref="menu.page24" id="page23-button43" class="button button-balanced  boton">Buscar</a>
      <ion-item class="item-icon-left  botones" id="page23-list-item56" ui-sref="menu.page7">
        <i class="icon No Icon"></i>BIOGRAFÍAS</ion-item>
    </form>
  </ion-content>
</ion-view>