<ion-view title="" nav-transition="none" id="page13" style="background-color:#DEEDF1;">
  <ion-content padding="false" class="has-header">
    <ion-list id="page13-list13">
      <ion-item class="item-avatar" id="page13-list-item24">
        <h2>Carolina Emma Horta Lucero</h2>
      </ion-item>
    </ion-list>
    <div class="logo1">
      <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="page13-heading42" style="color:#505151;font-weight:600;text-align:center;">Crear Conmemoración</h4>
    <form id="page13-form13" class="list">
      <h4 id="page13-heading43" style="color:#2075BA;font-weight:600;text-align:center;">Nombre Biografía</h4>
      <h1 id="page13-heading47" style="color:#000000;text-align:center;">Fecha</h1>
      <label class="item item-input inp3" id="page13-input25">
        <input type="date" placeholder="">
      </label>
      <label class="item item-input inp" id="page13-input26">
        <input type="text" placeholder="Título Conmemoración">
      </label>
      <label class="item item-input inp" id="page13-textarea7">
        <span class="input-label">Descripción</span><textarea placeholder=""></textarea></label>
      <label class="item item-select inp" id="page13-select15">
        <span class="input-label">¿Con Quien Desea Compartirla?</span>
        <select></select>
      </label>
      <a ui-sref="menu.page11" id="page13-button18" class="button button-balanced  boton">Agregar</a>
      <ion-item class="item-icon-left  botones" id="page13-list-item25" ui-sref="menu.page23">
        <i class="icon No Icon"></i>SERVICIOS</ion-item>
    </form>
  </ion-content>
</ion-view>