<ion-view title="" id="page20" style="background-color:#DEEDF1;">
  <ion-content padding="false" class="has-header">
    <ion-list id="page20-list20">
      <ion-item class="item-avatar" id="page20-list-item46">
        <h2>Carolina Emma Horta Lucero</h2>
      </ion-item>
    </ion-list>
    <div class="logo1">
      <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="page20-heading73" style="color:#505151;font-weight:600;text-align:center;">Condiciones y Términos de Uso</h4>
    <form id="page20-form20" class="list">
      <h1 id="page20-heading75" style="color:#2075BB;font-style:italic;text-align:center;" class="col2">Aceptación de derechos y responsabilidades</h1>
      <div id="page20-markdown8" class="show-list-numbers-and-dots col2">
        <p style="color:#505151;">
          <strong>1.0 Privacidad de Tus datos</strong>
        </p>

        <p style="color:#505151;">Al momento de crear una cuenta de NP estas aceptando las condiciones de uso de los datos, en los cuales se especifica estre otros que tu información es personal y es parte de la red NP.</p>

        <p style="color:#505151;">
          <strong>2.0 Compartir el contenido y la información</strong>
        </p>

        <p style="color:#505151;">Eres el propietario de todo el contenido y la información que publicas en NP, y puedes controlar cómo se comparte esta información.</p>

        <p style="color:#505151;">2.1 Para el contenido protegido por derechos de propiedad intelectual, como fotografías, vídeos, enlances, publicaciones u otros, nos concedes específicamente una licencia no exclusiva, transferible, libre de derechos de autor, aplicable globalmente,
          para utilizar cualquier contenido que publiques en NP. Esta licencia se termina cuando eliminas tu contenido de NP o tu cuenta, salvo si el contenido se ha compartido con terceros y estos no lo han eliminado.</p>

        <p style="color:#505151;">2.2 Cuando eliminas contenido de PI, este se elimina, sin embargo, se entiende que es posible que el contenido eliminado permanezca en copias de seguridad durante un plazo de tiempo de por lo menos 1 año.</p>

        <p style="color:#505151;">2.3 Cuando publicas contenido o información con la configuración "Público", significa que permites que todos, incluidas las personas que estan nevegando por NP, puedan acceder a dicha información y usarla como referencia.</p>

        <p style="color:#505151;">2.4 Todos los datos personales ingresados al momento de la creación de una cuenta en NP, son privados, sin embargo aceptas que NP pueda compatirlos con otras empresas o aplicaciones relacionadas con el objeto de NP de manera que pueda enviar información
          bajo las normativas vigentes del estado en la cual se ha creado la cuenta.</p>

        <p style="color:#505151;">
          <strong>3.0 Seguridad</strong>
        </p>

        <p style="color:#505151;">El objeto de NP es mantener una aplicación segura, tanto en sus contenidos como en su funcionamiento. Sin embargo, esto no podemos aseguraro 100%, por lo cual, se aceptan las siguientes consideraciones por parte de quien crea una cuenta en NP:</p>

        <p style="color:#505151;">3.1 No se publicarán comunicaciones comerciales no autorizadas (como correo no deseado, "spam") en NP.</p>

        <p style="color:#505151;">3.2 No se podrán recopilar datos o información relacionada con las publicaciones de NP, utilizando medios automáticos como robots u otros mecanismos.</p>

        <p style="color:#505151;">3.3 No se podrá subir contenido con virus ni código malintencionado de ninguna naturaleza.</p>

        <p style="color:#505151;">3.4 No se podrá subir contenido con virus ni código malintencionado de ninguna naturaleza.</p>

        <p style="color:#505151;">3.5 No ingresaras comentarios, fotos, videos ni ningún contenido que sea atentatorio, discriminador, por nograáfico, violento, desnudos, violencia gráfica o verbal u ofensivo a algun usuario o tema en particular.</p>

        <p style="color:#505151;">3.6 No se podrá hacer uso de aplicaciones de terceros que contengan o promocionen de cualquier otro modo contenido relacionado con el consumo de alcohol, violencia, sexo sin las restricciones de edad apropiadas.</p>

        <p style="color:#505151;">3.7 No podras hacer uso de NP para actos ilícitos, engañosos, malintencionados o discriminatorios.</p>

        <p style="color:#505151;">3.8 No podrás realizar o promover ninguna acción que atente contra la habilitación, sobrecargo o afectar al funcionamiento correcto o al aspecto de NP.</p>

        <p style="color:#505151;">3.9 No podrá desarrollar soluciones ni medios que traten de sustituir a NP como sitios falsos o que tengan alguna relación con NP, sin la previa autorización de NP por escrito.</p>

        <p style="color:#505151;">
          <strong>4.0 Seguridad de la cuenta y registro</strong>
        </p>

        <p style="color:#505151;">Los usuarios de NP proporcionarán sus identificaciones reales, tanto personales como de los usuarios semblanzas a generar, por lo que acepta:</p>

        <p style="color:#505151;">4.1 No ingresar información personal falsa en NP, ni crear una cuenta para otras personas sin su autorización.</p>

        <p style="color:#505151;">4.2 No crear más de una cuenta personal.</p>

        <p style="color:#505151;">4.3 Si se inhabilita la cuenta, no crearás otra sin nuestro permiso.</p>

        <p style="color:#505151;">4.4 No utilizarás NP si eres menor de 13 años.</p>

        <p style="color:#505151;">4.5 Deberás mantener la información de contacto exacta y actualizada.</p>

        <p style="color:#505151;">4.6 No compartirás tu contraseña no dejarás que otra persona acceda a tu cuenta, ni harás nada que pueda colocar en peligro la seguridad de tu cuenta en NP.</p>

        <p style="color:#505151;">4.7 No transferirás la cuenta a nadie sin nuestro consentimiento previo por escrito.</p>

        <p style="color:#505151;">4.8 Si seleccionas un nombre de usuario o identificador similar para tu cuenta o página, nos reservamos el derecho a eliminarlo o reclamarlo si lo consideramos oportuno (por ejemplo, si el propietario de una marca comercial, si el nombre no cumple
          algunos de los ítemes de esta declaración, si un usuario se queja por un nombre de usuario que no está relacionado estrechamente con el nombre real del usuario).</p>

        <p style="color:#505151;">4.9 Al momento de crear una semblanza de un difunto, aceptas que:</p>

        <p style="color:#505151;">4.9.1 Eres parte de un familiar directo o con autorización expresa de la familia del difunto para poder realizar el proceso de creación de la semblanza.</p>

        <p style="color:#505151;">4.9.2 Que la semblanza que estás creando corresponde a una persona real que efectivamente se encuentra fallecida legalmente, y que no se encuentra bajo ninguna otra característica (muerte cerebral, coma, inconciente, etc), y que por lo tanto existe
          un documento legal emitido por las entidades acreditadas del estado en que esa persona vivía, extendiendo una certificación de su calidad de difunto.</p>

        <p style="color:#505151;">4.9.3 Que el único y exclusivo objetivo de la creación de la semblanza es el poder recordar, homenajear de manera positiva al difunto, por lo que cualquier otro ánimo al respecto, permitirá a NP poder caducar, eliminar contenido y-o la cuenta,
          no dando posibilidad al pagador, en el caso de los planes con costo, de solicitar devolución ni compensación alguna por este acto.</p>

        <p style="color:#505151;">
          <strong>5.0 Protección de los derechos de otras personas</strong>
        </p>

        <p style="color:#505151;">Al momemento de usar NP aceptas:</p>

        <p style="color:#505151;">5.1 No publicar contenido ni realizar ninguna acción en NP que infrinja o viole los derechos de otros o que viole la ley de algún modo.</p>

        <p style="color:#505151;">5.2 Que NP o el administrador de una semblanza podrá eliminar cualquier contenido o información que publiques en NP si se considera que infringe esta Declaración.</p>

        <p style="color:#505151;">5.3 Si retiramos tu contenido debido a una infracción de los derechos de autor de otra persona y consideras que ha sido un error, tendrás la posibilidad de apelar.</p>

        <p style="color:#505151;">5.4 Si se infringe repetidamente los derechos de propiedad intelectual de otras personas, desactivaremos tu cuenta cuando lo estimemos oportuno.</p>

        <p style="color:#505151;">5.5 &gt;No se publicarán documentos de identificación ni información financiera ni personales atentarios de nadie en NP.</p>

        <p style="color:#505151;">
          <strong>6.0 Acerca de los anuncios en NP</strong>
        </p>

        <p style="color:#505151;">El objeto de NP es ofrecer anuncios y otro contenido comercial o patrocinado que sea valioso para nuestros usuarios y anunciantes. Para ayudarnos a lograrlo, aceptas lo siguiente:</p>

        <p style="color:#505151;">6.1 Nos concedes permiso para usar tu nombre, foto del perfil, contenido e información en relación con contenido comercial, patrocinado o relacionado (como una marca que te guste) que sirvamos o mejoremos. Esto significa, por ejemplo, que permites
          que una empresa u otra entidad nos pague por mostrar tu nombre y/o foto del perfil con tu contenido o información sin que recibas ninguna compensación por ello. Si has seleccionado un público específico para tu contenido o información, respetaremos
          tu elección cuando lo usemos.</p>

        <p style="color:#505151;">6.2 No proporcionamos tu contenido o información a anunciantes sin tu consentimiento.</p>

        <p style="color:#505151;">6.3 Entiendes que es posible que no siempre identifiquemos las comunicaciones y los servicios pagados como tales.</p>

        <p style="color:#505151;">
          <strong>7.0 Conflictos y Competencias</strong>
        </p>

        <p style="color:#505151;">7.1 Resolverás cualquier demanda, causa de acción o conflicto (colectivamente, "demanda") que tengas con NP surgida de o relacionada con la presente Declaración únicamente en los tribunales de la ciudad de Valparaíso, Chile , aceptando que estos
          tribunales son los competentes a la hora de resolver los litigios de dichos conflictos.</p>

        <p style="color:#505151;">7.2 Si alguna persona natural o jurídica pudiese interponer una demanda o acción contra NP debido a las accones realizadas por por el usuario de NP, relacionada con tus acciones, tu contenido o tu información en NP, será de tu responsabilidad
          la indemnización y nos librarás de la responsabilidad por todos los posibles daños, pérdidas y gastos de cualquier tipo (incluidos los costes y tasas legales razonables) relacionados con dicha demanda.</p>

        <p style="color:#505151;">7.3 NP proporciona normas para la conducta adecuada de los usuarios, pero no podemos controlar dichas acciones y no somos responsables del contenido o la información que los usuarios transmitan o compartan en NP. No somos responsables de ningún
          contenido que se considere ofensivo, inapropiado, obsceno, ilegal o inaceptable que puedas encontrar en NP. No somos responsables de la conducta de ningún usuario de NP, tanto dentro como fuera de NP.</p>

        <p style="color:#505151;">7.4 NP realiza los esfuerzos y acciones de manera constante para que NP pueda estar siempre en funcionamiento, sin errores y seguro, pero siempre es de responsabilidad del usuario su uso. No podemos asegurar ni garantizar que NP sea siempre una
          aplicación segura o libre de errores, ni que funcione siempre sin interrupciones, retrasos o imperfecciones. NP no se responsabiliza de las acciones, el contenido, la información o los datos de terceros y por la presente nos excluyes a NP, empleados,
          directores, accionistas, asesores de cualquier demanda o daños, conocidos o desconocidos, derivados de o de algún modo relacionados con cualquier demanda que tengas interpuesta contra tales.</p>

        <p style="color:#505151;">
          <strong>8.0 Definiciones</strong>
        </p>

        <p style="color:#505151;">8.1 El concepto "Nimbusplace" se refiere a las funciones y servicios que proporcionamos, incluidos los que se ofrecen a través de (a) nuestro sitio web en www.nimbusplace.com y cualquier otro sitio web con marca o marca compartida de NP (incluidos
          los subdominios, versiones internacionales, widgets y versiones móviles); (b) nuestra plataforma; (c) plugins sociales, (d) otros medios, software dispositivos o redes ya existentes o desarrollados en el futuro y relacionados con NP.</p>

        <p style="color:#505151;">8.2 El término "información" se refiere a los hechos y otra información sobre ti, incluidas las acciones que realizan los usuarios y las personas que no son usuarias que interactúan con NP.</p>

        <p style="color:#505151;">8.3 El término "contenido" se refiere a todo lo que tú u otros usuarios publican en NP que no se incluye en la definición de "información".</p>

        <p style="color:#505151;">8.4 El término "datos" o "datos de usuario" se refiere a los datos, incluidos el contenido o la información de un usuario, que otros pueden obtener de NP o proporcionar a NP a través de la plataforma.</p>

        <p style="color:#505151;">8.5 El término "publicar" significa poder colocar o publicar utilizando la plataforma NP.</p>
      </div>
      <ion-item class="item-icon-left  botones" id="page20-list-item47" ui-sref="menu.page23">
        <i class="icon No Icon"></i>SERVICIOS</ion-item>
    </form>
  </ion-content>
</ion-view>