<ion-view title="" nav-transition="none" id="page26" style="background-color:#DEEDF1;">
  <ion-content padding="false" class="has-header">
    <ion-list id="page26-list25">
      <ion-item class="item-avatar" id="page26-list-item27">
        <h2>Carolina Emma Horta Lucero</h2>
      </ion-item>
    </ion-list>
    <div class="logo1">
      <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="page26-heading106" style="color:#505151;font-weight:600;text-align:center;">Comentarios</h4>
    <div class="perfil3">
      <img src="img/sArxEldbQSqmkN46gHBU_perfil1.jpg" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="page26-heading115" style="color:#555353;" class="col4">Nombre Biografía - Escribiste el siguiente comentario: Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h1>
    <a ui-sref="menu.page27" id="page26-button16" class="button button-balanced  boton7">Editar</a>
    <button id="page26-button57" class="button button-assertive  boton7">Eliminar</button>
    <div class="spacer" style="height: 10px;"></div>
    <div class="perfil3">
      <img src="img/sArxEldbQSqmkN46gHBU_perfil1.jpg" style="display: block; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="page26-heading116" style="color:#555353;" class="col4">Nombre Biografía - Escribiste el siguiente comentario: Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h1>
    <a ui-sref="menu.page27" id="page26-button17" class="button button-balanced  boton7">Editar</a>
    <button id="page26-button58" class="button button-assertive  boton7">Eliminar</button>
    <div id="page26-button-bar3" class="button-bar">
      <button id="page26-button24" style="font-weight:600;" class="button button-stable  button-block paginador">&lt;&lt;</button>
      <button id="page26-button26" style="font-weight:600;" class="button button-stable  button-block paginador">&lt;</button>
      <button id="page26-button29" class="button button-positive  button-block paginador">1</button>
      <button id="page26-button31" class="button button-positive  button-block paginador-act">2</button>
      <button id="page26-button32" class="button button-positive  button-block paginador">&gt;</button>
      <button id="page26-button33" class="button button-stable  button-block paginador-des">&gt;&gt;</button>
    </div>
    <ion-list id="page26-list31">
      <ion-item class="item-icon-left  botones" id="page26-list-item28" ui-sref="menu.page23">
        <i class="icon No Icon"></i>SERVICIOS</ion-item>
    </ion-list>
  </ion-content>
</ion-view>