<ion-view title="" nav-transition="none" id="page3" style="background-color:#DEEDF1;">
  <ion-content padding="false" scroll="false" class="has-header">
    <ion-list id="page3-list2">
      <ion-item class="item-avatar" id="page3-list-item7">
        <h2> Bienvenido Rodrigo Henríquez</h2>
      </ion-item>
    </ion-list>
    <div class="banner">
      <a style="display:block;" href-inappbrowser="http://www.parquedelmar.cl/index.html">
        <img src="img/WPH7FTamR3OhuiPTez9g_pdm-01.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="logo">
      <img src="img/WqwPZyRMQ063segcK49Q_logo-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <a ui-sref="menu.page8" id="page3-button4" class="button button-positive  boton3">Crear Biografía</a>
    <a ui-sref="menu.page23" id="page3-button5" class="button button-positive  boton3">Buscar Servicio</a>
  </ion-content>
</ion-view>