<ion-view title="" id="page19" style="background-color:#DEEDF1;">
  <ion-content padding="false" class="has-header">
    <ion-list id="page19-list19">
      <ion-item class="item-avatar" id="page19-list-item42">
        <h2>Carolina Emma Horta Lucero</h2>
      </ion-item>
    </ion-list>
    <div class="logo1">
      <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="page19-heading71" style="color:#505151;font-weight:600;text-align:center;">Contraseña Recuperada</h4>
    <form id="page19-form19" class="list">
      <h1 id="page19-heading72" style="color:#505151;text-align:center;" class="col2">Su contraseña ha sido enviada a su correo asociado a su cuenta</h1>
      <a ui-sref="menu.home" id="page19-button28" class="button button-balanced  boton">Ingresar</a>
      <ion-item class="item-icon-left  botones" id="page19-list-item43" ui-sref="menu.page23">
        <i class="icon No Icon"></i>SERVICIOS</ion-item>
    </form>
  </ion-content>
</ion-view>