<ion-view id="page3" nav-transition="none" style="background-color:#DEEDF1;" title="">
    <ion-content class="has-header" padding="false" scroll="false">
        <ion-list id="page3-list2">
            <ion-item class="item-avatar" id="page3-list-item7">
                <h2>
                    {{np_usuario.nombres | capitalize}} {{np_usuario.ap_paterno | capitalize}}
                </h2>
            </ion-item>
        </ion-list>
        <div class="banner">
            <a href-inappbrowser="http://www.parquedelmar.cl/index.html" style="display:block;">
                <img src="img/WPH7FTamR3OhuiPTez9g_pdm-01.jpg" style="display: block; width: auto; height: 100%; margin-left: auto; margin-right: auto;">
                </img>
            </a>
        </div>
        <div class="logo">
            <img src="img/WqwPZyRMQ063segcK49Q_logo-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <a class="button button-positive boton3" id="page3-button4" ui-sref="menu.page8">
            Crear Biografía
        </a>
        <a class="button button-positive boton3" id="page3-button5" ui-sref="menu.page23">
            Buscar Servicio
        </a>
    </ion-content>
</ion-view>