<ion-view title="" id="page14" style="background-color:#DEEDF1;">
  <ion-content padding="false" class="has-header">
    <ion-list id="page14-list14">
      <ion-item class="item-avatar" id="page14-list-item29">
        <h2>Carolina Emma Horta Lucero</h2>
      </ion-item>
    </ion-list>
    <div class="logo1">
      <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h4 id="page14-heading48" style="color:#505151;font-weight:600;text-align:center;">Registro</h4>
    <form id="page14-form14" class="list">
      <label class="item item-input inp2" id="page14-input27">
        <input type="text" placeholder="Subir Foto">
      </label>
      <div class="add">
        <img src="img/Kn7BEwckT7u4ISpIRH22_add-01.png" style="display: block; width: auto; margin-left: auto;">
      </div>
      <label class="item item-input inp" id="page14-input28">
        <input type="text" placeholder="Correo">
      </label>
      <label class="item item-input inp" id="page14-input33">
        <input type="text" placeholder="Nombres">
      </label>
      <label class="item item-input inp" id="page14-input29">
        <input type="text" placeholder="Apellido Paterno">
      </label>
      <label class="item item-input inp" id="page14-input30">
        <input type="text" placeholder="Apellido Materno">
      </label>
      <label class="item item-select inp" id="page14-select16">
        <span class="input-label">Sexo</span>
        <select>
          <option></option>
          <option>Femenino</option>
          <option>Maculino</option>
        </select>
      </label>
      <h1 id="page14-heading49" style="color:#000000;text-align:center;">Fecha de Nacimiento</h1>
      <label class="item item-input inp3" id="page14-input31">
        <input type="date" placeholder="">
      </label>
      <label class="item item-input inp2" id="page14-input34">
        <input type="text" placeholder="Documento de Identificación">
      </label>
      <div class="info">
        <img src="img/63vPskfJSa6XRQiNYOoD_info-01.png" style="display: block; width: auto; margin-left: auto;">
      </div>
      <label class="item item-select inp" id="page14-select17">
        <span class="input-label">País</span>
        <select></select>
      </label>
      <label class="item item-select inp" id="page14-select18">
        <span class="input-label">Región</span>
        <select></select>
      </label>
      <label class="item item-input inp" id="page14-input35">
        <input type="password" placeholder="Contraseña">
      </label>
      <label class="item item-input inp" id="page14-input36">
        <input type="password" placeholder="Repetir Contraseña">
      </label>
      <a ui-sref="menu.page15" id="page14-button19" class="button button-balanced  boton">Crear Cuenta</a>
      <ion-item class="item-icon-left  botones" id="page14-list-item30" ui-sref="menu.page23">
        <i class="icon No Icon"></i>SERVICIOS</ion-item>
    </form>
  </ion-content>
</ion-view>