<small class="error" ng-message="required">
    <i class="ion-information-circled">
    </i>
    No puedes dejar este campo en blanco.
</small>
<small class="error" ng-message="minlength">
    <i class="ion-information-circled">
    </i>
    Muy Corto...
</small>
<small class="error" ng-message="maxlength">
    <i class="ion-information-circled">
    </i>
    Muy Largo...
</small>
<small class="error" ng-message="pattern">
    <i class="ion-information-circled">
    </i>
    Formato incorrecto.
</small>