<ion-view id="page7" nav-transition="none" style="background-color:#DEEDF1;" title="">
    <ion-content class="has-header" padding="false" scroll="false">
        <ion-list id="page7-list6">
            <ion-item class="item-avatar" id="page7-list-item11">
                <h2>
                    C{{np_usuario.nombres | capitalize}} {{np_usuario.ap_paterno | capitalize}}
                </h2>
            </ion-item>
        </ion-list>
        <div class="logo1">
            <img src="img/VdoJPvvySNe41uCrDwEO_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <h4 id="page7-heading1" style="color:#505151;font-weight:600;text-align:center;">
            Mis Biografías
        </h4>
        <div class="slider1">
            <img src="img/I4KWPC2KROeUosConhkk_slider-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <ion-list id="page7-list8">
            <ion-item class="item-icon-left botones" id="page7-list-item8" ui-sref="menu.page23">
                <i class="icon No Icon">
                </i>
                SERVICIOS
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>