<ion-view id="page24" style="background-color:#DEEDF1;" title="">
    <ion-content class="has-header" padding="false">
        <ion-list id="page24-list24">
            <ion-item class="item-avatar" id="page24-list-item58">
                <h2>
                    {{np_usuario.nombres | capitalize}} {{np_usuario.ap_paterno | capitalize}}
                </h2>
            </ion-item>
        </ion-list>
        <div class="logo1">
            <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <h4 id="page24-heading87" style="color:#505151;font-weight:600;text-align:center;">
            Resultado Búsqueda Servicios
        </h4>
        <ion-list>
            <ion-item ng-repeat="servicio in servicios">
                <h class="title5" id="page24-heading92" style="color:#2075BA;font-weight:600;text-align:center;">
                    {{servicio.nom_funeraria}}
                </h>
                <h class="title4" id="page24-heading89" style="color:#555353;font-weight:400;text-align:center;">
                    {{servicio.dir_funeraria}} - {{servicio.nom_com}} - Poner Region
                </h>
                <h class="title4" id="page24-heading94" style="color:#555353;font-weight:400;text-align:center;">
                    {{servicio.num_funeriaria}}
                </h>
                <h class="title3" id="page24-heading93" style="color:#555353;text-align:center;">
                    {{servicio.web_funeraria}}
                </h>
            </ion-item>
        </ion-list>
        <div class="button-bar" id="page24-button-bar2">
            <button class="button button-stable button-block paginador" id="page24-button45" style="font-weight:600;">
                <<
            </button>
            <button class="button button-stable button-block paginador" id="page24-button46" style="font-weight:600;">
                <
            </button>
            <button class="button button-positive button-block paginador" id="page24-button47">
                1
            </button>
            <button class="button button-positive button-block paginador-act" id="page24-button48">
                2
            </button>
            <button class="button button-positive button-block paginador" id="page24-button49">
                >
            </button>
            <button class="button button-stable button-block paginador-des" id="page24-button50">
                >>
            </button>
        </div>
        <ion-list id="page24-list26">
            <ion-item class="item-icon-left botones" id="page24-list-item59" ui-sref="menu.page7">
                <i class="icon No Icon">
                </i>
                BIOGRAFÍAS
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>