<ion-view id="page21" style="background-color:#DEEDF1;" title="">
    <ion-content class="has-header" padding="false">
        <ion-list id="page21-list21">
            <ion-item class="item-avatar" id="page21-list-item49">
                <h2>
                    {{np_usuario.nombres | capitalize}} {{np_usuario.ap_paterno | capitalize}}
                </h2>
            </ion-item>
        </ion-list>
        <div class="logo1">
            <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <h4 id="page21-heading76" style="color:#505151;font-weight:600;text-align:center;">
            Búsqueda de Biografía
        </h4>
        <form class="list" id="page21-form21">
            <label class="item item-input inp" id="page21-input57">
                <input placeholder="Nombre" type="text">
                </input>
            </label>
            <label class="item item-input inp" id="page21-input58">
                <input placeholder="Apellido Paterno" type="text">
                </input>
            </label>
            <label class="item item-input inp" id="page21-input59">
                <input placeholder="Apellido Materno" type="text">
                </input>
            </label>
            <label class="item item-select inp" id="page21-select26">
                <span class="input-label">
                    Sexo
                </span>
                <select>
                    <option>
                    </option>
                    <option>
                        Femenino
                    </option>
                    <option>
                        Maculino
                    </option>
                </select>
            </label>
            <label class="item item-select inp" id="page21-select27">
                <span class="input-label">
                    País
                </span>
                <select>
                </select>
            </label>
            <label class="item item-select inp" id="page21-select28">
                <span class="input-label">
                    Región
                </span>
                <select>
                </select>
            </label>
            <a class="button button-balanced boton" id="page21-button30" ui-sref="menu.page9">
                Buscar
            </a>
            <ion-item class="item-icon-left botones" id="page21-list-item50" ui-sref="menu.page23">
                <i class="icon No Icon">
                </i>
                SERVICIOS
            </ion-item>
        </form>
    </ion-content>
</ion-view>