<ion-view id="page14" style="background-color:#DEEDF1;" title="">
    <ion-content class="has-header" padding="false">
        <ion-list id="page14-list14">
            <ion-item class="item-avatar" id="page14-list-item29">
                <h2>
                    {{np_usuario.nombres | capitalize}} {{np_usuario.ap_paterno | capitalize}}
                </h2>
            </ion-item>
        </ion-list>
        <div class="logo1">
            <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <h4 id="page14-heading48" style="color:#505151;font-weight:600;text-align:center;">
            Registro
        </h4>
        <form class="list" id="page14-form14">
            <label class="item item-input inp2" id="page14-input27">
                <input placeholder="Subir Foto" type="text">
                </input>
            </label>
            <div class="add">
                <img src="img/Kn7BEwckT7u4ISpIRH22_add-01.png" style="display: block; width: auto; margin-left: auto;">
                </img>
            </div>
            <label class="item item-input inp" id="page14-input28">
                <input placeholder="Correo" type="text">
                </input>
            </label>
            <label class="item item-input inp" id="page14-input33">
                <input placeholder="Nombres" type="text">
                </input>
            </label>
            <label class="item item-input inp" id="page14-input29">
                <input placeholder="Apellido Paterno" type="text">
                </input>
            </label>
            <label class="item item-input inp" id="page14-input30">
                <input placeholder="Apellido Materno" type="text">
                </input>
            </label>
            <label class="item item-select inp" id="page14-select16">
                <span class="input-label">
                    Sexo
                </span>
                <select>
                    <option>
                    </option>
                    <option>
                        Femenino
                    </option>
                    <option>
                        Maculino
                    </option>
                </select>
            </label>
            <h1 id="page14-heading49" style="color:#000000;text-align:center;">
                Fecha de Nacimiento
            </h1>
            <label class="item item-input inp3" id="page14-input31">
                <input placeholder="" type="date">
                </input>
            </label>
            <label class="item item-input inp2" id="page14-input34">
                <input placeholder="Documento de Identificación" type="text">
                </input>
            </label>
            <div class="info">
                <img src="img/63vPskfJSa6XRQiNYOoD_info-01.png" style="display: block; width: auto; margin-left: auto;">
                </img>
            </div>
            <label class="item item-select inp" id="page14-select17">
                <span class="input-label">
                    País
                </span>
                <select>
                </select>
            </label>
            <label class="item item-select inp" id="page14-select18">
                <span class="input-label">
                    Región
                </span>
                <select>
                </select>
            </label>
            <label class="item item-input inp" id="page14-input35">
                <input placeholder="Contraseña" type="password">
                </input>
            </label>
            <label class="item item-input inp" id="page14-input36">
                <input placeholder="Repetir Contraseña" type="password">
                </input>
            </label>
            <a class="button button-balanced boton" id="page14-button19" ui-sref="menu.page15">
                Crear Cuenta
            </a>
            <ion-item class="item-icon-left botones" id="page14-list-item30" ui-sref="menu.page23">
                <i class="icon No Icon">
                </i>
                SERVICIOS
            </ion-item>
        </form>
    </ion-content>
</ion-view>