<ion-view id="page16" style="background-color:#DEEDF1;" title="">
    <ion-content class="has-header" padding="false">
        <ion-list id="page16-list16">
            <ion-item class="item-avatar" id="page16-list-item35">
                <h2>
                    {{np_usuario.nombres | capitalize}} {{np_usuario.ap_paterno | capitalize}}
                </h2>
            </ion-item>
        </ion-list>
        <div class="logo1">
            <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <h4 id="page16-heading60" style="color:#505151;font-weight:600;text-align:center;">
            Editar Registro
        </h4>
        <form class="list" id="page16-form16">
            <label class="item item-input inp2" id="page16-input37">
                <input disabled="" placeholder="Subir Foto" type="text">
                </input>
            </label>
            <div class="add">
                <img src="img/Kn7BEwckT7u4ISpIRH22_add-01.png" style="display: block; width: auto; margin-left: auto;">
                </img>
            </div>
            <label class="item item-input inp" id="page16-input38">
                <input disabled="true" ng-model="datosUsuario.email" placeholder="Correo" type="text">
                </input>
            </label>
            <label class="item item-input inp" id="page16-input39">
                <input ng-model="datosUsuario.nombres" placeholder="Nombres" type="text">
                </input>
            </label>
            <label class="item item-input inp" id="page16-input40">
                <input ng-model="datosUsuario.ap_paterno" placeholder="Apellido Paterno" type="text">
                </input>
            </label>
            <label class="item item-input inp" id="page16-input41">
                <input ng-model="datosUsuario.ap_materno" placeholder="Apellido Materno" type="text">
                </input>
            </label>
            <label class="item item-select inp" id="page16-select20">
                <span class="input-label">
                    Sexo
                </span>
                <select ng-model="datosUsuario.sexo" ng-options="sexo.nombre for sexo in sexos">
                </select>
            </label>
            <h1 id="page16-heading61" style="color:#000000;text-align:center;">
                Fecha de Nacimiento
            </h1>
            <label class="item item-input inp3" id="page16-input42">
                <input ng-model="datosUsuario.fec_nacimiento" placeholder="" type="date">
                </input>
            </label>
            <label class="item item-input inp2" id="page16-input43">
                <input ng-model="datosUsuario.nro_documento_identif" placeholder="Documento de Identificación" type="text">
                </input>
            </label>
            <div class="info">
                <img src="img/63vPskfJSa6XRQiNYOoD_info-01.png" style="display: block; width: auto; margin-left: auto;">
                </img>
            </div>
            <label class="item item-select inp" id="page16-select21">
                <span class="input-label">
                    Pais
                </span>
                <select class="form-group" id="pais" ng-change="mostrarRegiones(datosUsuario.idPais)" ng-model="datosUsuario.idPais" ng-options="paises.id as paises.nombre for paises in JSONPaises">
                </select>
            </label>
            <label class="item item-select inp" id="page16-select22">
                <span class="input-label">
                    Region
                </span>
                <select class="form-group" ng-model="datosUsuario.idRegion" ng-options="regiones.id as regiones.nombre for regiones in JSONRegiones" ng-valid="!pais">
                </select>
            </label>
            <!-- CONTRASEÑAS!!! aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa "-->
            <label class="item item-input inp" id="page16-input44">
                <input name="pass1" ng-model="datosUsuario.clave" placeholder="Contraseña" type="password">
                </input>
            </label>
            <label class="item item-input inp" id="page16-input45">
                <input name="pass2" ng-model="confirm_clave" no-pattern="\b{{pass}}\b" placeholder="Repetir Contraseña" type="password">
                </input>
                <div ng-message="pattern">
                    Contraseñas no coinciden!
                </div>
            </label>
            <a class="button button-assertive boton5" id="page16-button22" ui-sref="menu.page15">
                Cancelar
            </a>
            <a class="button button-balanced boton5" id="page16-button23" ng-click="actualizar()">
                Actualizar
            </a>
            <ion-item class="item-icon-left botones" id="page16-list-item36" ui-sref="menu.page23">
                <i class="icon No Icon">
                </i>
                SERVICIOS
            </ion-item>
        </form>
    </ion-content>
</ion-view>