<ion-view id="page16" style="background-color:#DEEDF1;" title="">
    <ion-content class="has-header" padding="false">
        <ion-list id="page16-list16">
            <script id="error-list.html" type="text/ng-template">
                <div class="error" ng-message="required">
                    <i class="ion-information-circled"></i> 
                    No puedes dejar este campo en blanco.
                 </div>
                <div class="error" ng-message="minlength">
                    <i class="ion-information-circled"></i> 
                    Muy Corto...
                </div>
                <div class="error" ng-message="maxlength">
                    <i class="ion-information-circled"></i> 
                    Muy Largo...
                </div>
                <div class="error" ng-message="pattern">
                    <i class="ion-information-circled"></i> 
                    Formato incorrecto.
                </div>
            </script>
            <ion-item class="item-avatar" id="page16-list-item35">
                <h2>
                    {{np_usuario.nombres | capitalize}} {{np_usuario.ap_paterno | capitalize}}
                </h2>
            </ion-item>
        </ion-list>
        <div class="logo1">
            <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <h4 id="page16-heading60" style="color:#505151;font-weight:600;text-align:center;">
            Editar Registro
        </h4>
        <form class="list" id="page16-form16" name="editReg" novalidate="">
            <label class="item item-input inp2" id="page16-input37">
                <input disabled="true" placeholder="{{datosUsuario.url_avatar = data.imagen.name}}" type="text">
                </input>
            </label>
            <div class="add">
                <img src="img/Kn7BEwckT7u4ISpIRH22_add-01.png" style="display: block; width: auto; margin-left: auto;">
                </img>
                <input file-model="data.imagen" input="" type="file"/>
            </div>
            <label class="item item-input inp" id="page16-input38">
                <input disabled="true" ng-model="datosUsuario.email" placeholder="Correo" type="text">
                </input>
            </label>
            <label class="item item-input inp" id="page16-input39" ng-class="{ 'has-errors' : editReg.nombres.$invalid}">
                <input class="form-control" name="nombres" ng-maxlength="45" ng-model="datosUsuario.nombres" ng-pattern="/^[a-zA-Z ,.'-]+$/" placeholder="Nombres" required="" type="text">
                </input>
            </label>
            <h1 ng-if="!editReg.nombres.$pristine" ng-messages="editReg.nombres.$error">
                <small class="help-block" ng-messages-include="error-list.html">
                </small>
            </h1>
            <label class="item item-input inp" id="page16-input40" ng-class="{ 'has-errors' : editReg.apaterno.$invalid}">
                <input name="apaterno" ng-maxlength="45" ng-model="datosUsuario.ap_paterno" ng-pattern="/^[a-zA-Z ,.'-]+$/" placeholder="Apellido Paterno" required="" type="text">
                </input>
            </label>
            <h1 ng-if="!editReg.apaterno.$pristine" ng-messages="editReg.apaterno.$error">
                <small class="help-block" ng-messages-include="error-list.html">
                </small>
            </h1>
            <label class="item item-input inp" id="page16-input41" ng-class="{ 'has-errors' : editReg.amaterno.$invalid}">
                <input name="amaterno" ng-maxlength="45" ng-model="datosUsuario.ap_materno" ng-pattern="/^[a-zA-Z ,.'-]+$/" placeholder="Apellido Materno" type="text">
                </input>
            </label>
            <h1 ng-if="!editReg.amaterno.$pristine" ng-messages="editReg.amaterno.$error">
                <small class="help-block" ng-messages-include="error-list.html">
                </small>
            </h1>
            <label class="item item-select inp" id="page16-select20" ng-class="{ 'has-errors' : editReg.sexo.$invalid}">
                <span class="input-label">
                    Sexo
                </span>
                <select ng-model="datosUsuario.sexo" ng-options="sexo.id as sexo.nombre for sexo in sexos" required="">
                </select>
            </label>
            <h1 ng-if="!editReg.sexo.$pristine" ng-messages="editReg.sexo.$error">
                <small ng-messages-include="error-list.html">
                </small>
            </h1>
            <h1 id="page16-heading61" style="color:#000000;text-align:center;">
                Fecha de Nacimiento
            </h1>
            <label class="item item-input inp3" id="page16-input42">
                <input max="{{hoy}}" name="fecha" ng-model="datosUsuario.fec_nacimiento" placeholder="" type="date">
                </input>
            </label>
            <h1 ng-if="!editReg.fecha.$pristine" ng-messages="editReg.fecha.$error">
                <small ng-messages-include="error-list.html">
                </small>
            </h1>
            <label class="item item-input inp" id="page16-input43" ng-class="{ 'has-errors' : editReg.rut.$invalid}">
                <input name="rut" ng-maxlength="10" ng-model="datosUsuario.nro_documento_identif" pattern="[0-9]{7,8}-[0-9Kk]{1}" placeholder="Doc Ident. ej. 12345678-5" type="text">
                </input>
            </label>
            <h1 ng-if="!editReg.rut.$pristine" ng-messages="editReg.rut.$error">
                <small ng-messages-include="error-list.html">
                </small>
            </h1>
            <label class="item item-select inp" id="page16-select21" ng-class="{ 'has-errors' : editReg.pais.$invalid}">
                <span class="input-label">
                    Pais
                </span>
                <select class="form-group" id="pais" ng-change="mostrarRegiones(datosUsuario.idPais)" ng-model="datosUsuario.idPais" ng-options="paises.id as paises.nombre for paises in JSONPaises" required="">
                </select>
            </label>
            <label class="item item-select inp" id="page16-select22" ng-class="{ 'has-errors' : editReg.region.$invalid}">
                <span class="input-label">
                    Region
                </span>
                <select class="form-group" name="region" ng-model="datosUsuario.idRegion" ng-options="regiones.id as regiones.nombre for regiones in JSONRegiones" required="">
                </select>
            </label>
            <h1 ng-if="!editReg.region.$pristine" ng-messages="editReg.region.$error">
                <small ng-messages-include="error-list.html">
                </small>
            </h1>
            <label class="item item-input inp" id="page16-input44" ng-class="{ 'has-errors' : editReg.clave.$invalid}">
                <input name="clave" ng-change="claveConfirm=null" ng-minlength="8" ng-model="datosUsuario.clave" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" placeholder="Contraseña" type="password">
                </input>
            </label>
            <h1 ng-if="!editReg.clave.$pristine" ng-messages="editReg.clave.$error">
                <small ng-messages-include="error-list.html">
                </small>
            </h1>
            <label class="item item-input inp" id="page16-input45" ng-class="{ 'has-errors' : editReg.claveConfirm.$invalid }">
                <input name="claveConfirm" ng-disabled="!datosUsuario.clave" ng-model="claveConfirm" ng-pattern="datosUsuario.clave" ng-required="datosUsuario.clave" placeholder="Repetir Contraseña" type="password">
                </input>
            </label>
            <h1 ng-if="claveConfirm != datosUsuario.clave" ng-messages="editReg.claveConfirm.$error">
                <small class="error" ng-message="pattern">
                    <i class="ion-information-circled">
                    </i>
                    Contraseñas deben coincidir.
                </small>
                <small class="error" ng-message="required">
                    <i class="ion-information-circled">
                    </i>
                    Confirme su contraseña.
                </small>
            </h1>
            <a class="button button-assertive boton5" id="page16-button22" ui-sref="menu.page25">
                Cancelar
            </a>
            <a class="button button-balanced boton5" id="page16-button23" ng-click="editReg.$valid && actualizar()">
                Actualizar
            </a>
            <h1 id="campos-req" style=";color: red;font-size: 12px;text-align:center;">
                {{nocambios}}
            </h1>
            <ion-item class="item-icon-left botones" id="page16-list-item36" ui-sref="menu.page23">
                <i class="icon No Icon">
                </i>
                SERVICIOS
            </ion-item>
        </form>
    </ion-content>
</ion-view>