<ion-view id="page22" style="background-color:#DEEDF1;" title="">
    <ion-content class="has-header" padding="false">
        <ion-list id="page22-list22">
            <ion-item class="item-avatar" id="page22-list-item51">
                <h2>
                    {{np_usuario.nombres | capitalize}} {{np_usuario.ap_paterno | capitalize}}
                </h2>
            </ion-item>
        </ion-list>
        <div class="logo1">
            <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <h4 id="page22-heading79" style="color:#505151;font-weight:600;text-align:center;">
            Búsqueda de Biografía
        </h4>
        <form class="list" id="page22-form22">
            <h3 id="page22-heading80" style="color:#2075BB;text-align:center;">
                Criterios de Búsqueda
            </h3>
            <div class="perfil">
                <img src="img/sArxEldbQSqmkN46gHBU_perfil1.jpg" style="display: block; margin-left: auto; margin-right: auto;">
                </img>
            </div>
            <h3 class="title2" id="page22-heading83" style="color:#555353;text-align:center;">
                Carolina Riquelme
            </h3>
            <div class="perfil">
                <img src="img/sArxEldbQSqmkN46gHBU_perfil1.jpg" style="display: block; margin-left: auto; margin-right: auto;">
                </img>
            </div>
            <h3 class="title2" id="page22-heading82" style="color:#555353;text-align:center;">
                Carolina Riquelme
            </h3>
            <div class="button-bar" id="page22-button-bar1">
                <button class="button button-stable button-block paginador" id="page22-button36" style="font-weight:600;">
                    <<
                </button>
                <button class="button button-stable button-block paginador" id="page22-button41" style="font-weight:600;">
                    <
                </button>
                <button class="button button-positive button-block paginador" id="page22-button39">
                    1
                </button>
                <button class="button button-positive button-block paginador-act" id="page22-button35">
                    2
                </button>
                <button class="button button-positive button-block paginador" id="page22-button37">
                    >
                </button>
                <button class="button button-stable button-block paginador-des" id="page22-button38">
                    >>
                </button>
            </div>
            <ion-item class="item-icon-left botones" id="page22-list-item52" ui-sref="menu.page23">
                <i class="icon No Icon">
                </i>
                SERVICIOS
            </ion-item>
        </form>
    </ion-content>
</ion-view>