<ion-view hide-nav-bar="true" id="page18" style="background-color:#DEEDF1;" title="">
    <ion-content class="has-header" padding="false">
        <ion-list id="page18-list18">
            <ion-item class="item-avatar" id="page18-list-item40">
                <h2>
                    {{np_usuario.nombres | capitalize}} {{np_usuario.ap_paterno | capitalize}}
                </h2>
            </ion-item>
        </ion-list>
        <div class="logo1">
            <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <h4 id="page18-heading69" style="color:#505151;font-weight:600;text-align:center;">
            Olvidé mi Contraseña
        </h4>
        <form class="list" id="page18-form18">
            <label class="item item-input inp" id="page18-input47">
                <input placeholder="Correo" type="text">
                </input>
            </label>
            <a class="button button-balanced boton" id="page18-button27" ui-sref="menu.page19">
                Enviar
            </a>
            <ion-item class="item-icon-left botones" id="page18-list-item41" ui-sref="menu.page23">
                <i class="icon No Icon">
                </i>
                SERVICIOS
            </ion-item>
        </form>
    </ion-content>
</ion-view>