<ion-view id="page8" style="background-color:#DEEDF1;" title="">
    <ion-content class="has-header" padding="false">
        <ion-list id="page8-list7">
            <ion-item class="item-avatar" id="page8-list-item13">
                <h2>
                    {{np_usuario.nombres | capitalize}} {{np_usuario.ap_paterno | capitalize}}
                </h2>
            </ion-item>
            <script id="error-list.html" type="text/ng-template">
                <div class="error" ng-message="required">
                    <i class="ion-information-circled"></i> 
                    Campo Obligatorio!.
                 </div>
                <div class="error" ng-message="minlength">
                    <i class="ion-information-circled"></i> 
                    Muy Corto...
                </div>
                <div class="error" ng-message="maxlength">
                    <i class="ion-information-circled"></i> 
                    Muy Largo...
                </div>
                <div class="error" ng-message="pattern">
                    <i class="ion-information-circled"></i> 
                    Formato incorrecto.
                </div>
            </script>
        </ion-list>
        <div class="logo1">
            <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <h4 id="page8-heading3" style="color:#505151;font-weight:600;text-align:center;">
            Crear Biografía
        </h4>
        <form class="list" id="page8-form8" name="crearBio">
            <label class="item item-input inp2" id="page8-input5">
                <input placeholder="Subir Foto" type="text">
                </input>
            </label>
            <div class="add">
                <img src="img/Kn7BEwckT7u4ISpIRH22_add-01.png" style="display: block; width: auto; margin-left: auto;">
                </img>
            </div>
            <label class="item item-input inp" id="page8-input6" ng-class="{ 'has-errors' : crearBio.nombres.$invalid && !crearBio.nombres.$pristine}">
                <input class="form-control" name="nombres" ng-maxlength="45" ng-model="" ng-pattern="/^[a-zA-Z ,.'-]+$/" placeholder="Nombres" required="" type="text">
                </input>
            </label>
            <h1 ng-if="!crearBio.nombres.$pristine" ng-messages="crearBio.nombres.$error">
                <small class="help-block" ng-messages-include="error-list.html">
                </small>
            </h1>
            <label class="item item-input inp" id="page8-input7" ng-class="{ 'has-errors' : crearBio.apaterno.$invalid && !crearBio.apaterno.$pristine}">
                <input name="apaterno" ng-maxlength="45" ng-model="
                " ng-pattern="/^[a-zA-Z ,.'-]+$/" placeholder="Apellido Paterno" required="" type="text">
                </input>
            </label>
            <h1 ng-if="!crearBio.apaterno.$pristine" ng-messages="crearBio.apaterno.$error">
                <small class="help-block" ng-messages-include="error-list.html">
                </small>
            </h1>
            <label class="item item-input inp" id="page16-input41" ng-class="{ 'has-errors' : crearBio.amaterno.$invalid && !crearBio.amaterno.$pristine}">
                <input name="amaterno" ng-maxlength="45" ng-model="" ng-pattern="/^[a-zA-Z ,.'-]+$/" placeholder="Apellido Materno" type="text">
                </input>
            </label>
            <h1 ng-if="!crearBio.amaterno.$pristine" ng-messages="crearBio.amaterno.$error">
                <small class="help-block" ng-messages-include="error-list.html">
                </small>
            </h1>
            <label class="item item-select inp" id="page8-select1">
                <span class="input-label">
                    Sexo
                </span>
                <select>
                    <option>
                    </option>
                    <option>
                        Femenino
                    </option>
                    <option>
                        Maculino
                    </option>
                </select>
            </label>
            <h1 id="page8-heading7" style="color:#000000;text-align:center;">
                Fecha de Nacimiento
            </h1>
            <label class="item item-input inp3" id="page8-input11">
                <input max="{{hoy}}" name="fecha" ng-model="" placeholder="" required="" type="date">
                </input>
            </label>
            <h1 id="page8-heading8" style="color:#000000;text-align:center;">
                Fecha de Fallecimiento
            </h1>
            <label class="item item-input inp3" id="page8-input15">
                <input max="{{hoy}}" name="fechaFa" ng-model="" placeholder="" required="" type="date">
                </input>
            </label>
            <label class="item item-input inp" id="page8-textarea1">
                <span class="input-label">
                    Epitafio (campo opcional)
                </span>
                <textarea placeholder="">
                </textarea>
            </label>
            <label class="item item-select inp" id="page8-select4">
                <span class="input-label">
                    País de Entierro
                </span>
                <select>
                </select>
            </label>
            <label class="item item-select inp" id="page8-select5">
                <span class="input-label">
                    Lugar de Entierro
                </span>
                <select>
                </select>
            </label>
            <label class="item item-select inp" id="page8-select6">
                <span class="input-label">
                    Relación con Difunto
                </span>
                <select>
                    <option>
                    </option>
                    <option>
                        Abuelo(a)
                    </option>
                    <option>
                        Amigo
                    </option>
                    <option>
                        Bisabuelo(a)
                    </option>
                    <option>
                        Bisnieto(a)
                    </option>
                    <option>
                        Conyugue
                    </option>
                </select>
            </label>
            <label class="item item-input inp" id="page8-textarea2">
                <span class="input-label">
                    Biografía
                </span>
                <textarea placeholder="">
                </textarea>
            </label>
            <a class="button button-balanced boton" id="page8-button6" ui-sref="menu.page9">
                Crear Biografía
            </a>
            <ion-item class="item-icon-left botones" id="page8-list-item9" ui-sref="menu.page23">
                <i class="icon No Icon">
                </i>
                SERVICIOS
            </ion-item>
        </form>
    </ion-content>
</ion-view>