<ion-view id="page25" nav-transition="none" style="background-color:#DEEDF1;" title="">
    <ion-content class="has-header" padding="false">
        <ion-list id="page25-list27">
            <ion-item class="item-avatar" id="page25-list-item60">
                <h2>
                    {{np_usuario.nombres | capitalize}} {{np_usuario.ap_paterno | capitalize}}
                </h2>
            </ion-item>
        </ion-list>
        <div class="logo1">
            <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <h4 id="page25-heading96" style="color:#505151;font-weight:600;text-align:center;">
            Mi Perfil
        </h4>
        <form class="list" id="page25-form25">
            <div class="perfil">
                <img src="{{perfil_usuario.url_avatar}}" style="display: block; margin-left: auto; margin-right: auto;">
                </img>
            </div>
            <h1 id="page25-heading97" style="color:#505151;font-weight:600;text-align:center;">
                {{perfil_usuario.nombres}} {{perfil_usuario.ap_paterno}} {{perfil_usuario.ap_materno}}
            </h1>
            <h3 id="page25-heading98" style="color:#555353;text-align:center;">
                {{perfil_usuario.email}}
            </h3>
            <h3 id="page25-heading99" style="color:#555353;text-align:center;">
                {{perfil_usuario.sexo}}
            </h3>
            <h3 id="page25-heading100" style="color:#555353;text-align:center;">
                {{perfil_usuario.fec_nacimiento}}
            </h3>
            <h3 id="page25-heading101" style="color:#555353;text-align:center;">
                {{perfil_usuario.nro_documento_identif}}
            </h3>
            <h3 id="page25-heading102" style="color:#555353;text-align:center;">
                {{perfil_usuario.idPais}} {{perfil_usuario.idRegion}}
            </h3>
            <a class="button button-assertive boton" id="page25-button51" ui-sref="menu.page16">
                Editar Datos
            </a>
            <h4 id="page25-heading103" style="color:#505151;font-weight:600;text-align:center;">
                Mis Biografías
            </h4>
            <div class="slider1">
                <img src="img/I4KWPC2KROeUosConhkk_slider-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
                </img>
            </div>
            <h4 id="page25-heading104" style="color:#505151;font-weight:600;text-align:center;">
                Mi Último Comentario
            </h4>
        </form>
        <div class="perfil2">
            <img src="img/sArxEldbQSqmkN46gHBU_perfil1.jpg" style="display: block; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <h1 class="col3" id="page25-heading105" style="color:#555353;">
            Nombre Biografía - Escribiste el siguiente comentario: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </h1>
        <a class="button button-balanced boton" id="page25-button54" ui-sref="menu.page26">
            Ver Comentarios
        </a>
        <ion-list id="page25-list28">
            <ion-item class="item-icon-left botones" id="page25-list-item61" ui-sref="menu.page23">
                <i class="icon No Icon">
                </i>
                SERVICIOS
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>