<ion-view id="page26" nav-transition="none" style="background-color:#DEEDF1;" title="">
    <ion-content class="has-header" padding="false">
        <ion-list id="page26-list25">
            <ion-item class="item-avatar" id="page26-list-item27">
                <h2>
                    {{np_usuario.nombres | capitalize}} {{np_usuario.ap_paterno | capitalize}}
                </h2>
            </ion-item>
        </ion-list>
        <div class="logo1">
            <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <h4 id="page26-heading106" style="color:#505151;font-weight:600;text-align:center;">
            Comentarios
        </h4>
        <div class="perfil3">
            <img src="img/sArxEldbQSqmkN46gHBU_perfil1.jpg" style="display: block; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <h1 class="col4" id="page26-heading115" style="color:#555353;">
            Nombre Biografía - Escribiste el siguiente comentario: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </h1>
        <a class="button button-balanced boton7" id="page26-button16" ui-sref="menu.page27">
            Editar
        </a>
        <button class="button button-assertive boton7" id="page26-button57">
            Eliminar
        </button>
        <div class="spacer" style="height: 10px;">
        </div>
        <div class="perfil3">
            <img src="img/sArxEldbQSqmkN46gHBU_perfil1.jpg" style="display: block; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <h1 class="col4" id="page26-heading116" style="color:#555353;">
            Nombre Biografía - Escribiste el siguiente comentario: Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </h1>
        <a class="button button-balanced boton7" id="page26-button17" ui-sref="menu.page27">
            Editar
        </a>
        <button class="button button-assertive boton7" id="page26-button58">
            Eliminar
        </button>
        <div class="button-bar" id="page26-button-bar3">
            <button class="button button-stable button-block paginador" id="page26-button24" style="font-weight:600;">
                <<
            </button>
            <button class="button button-stable button-block paginador" id="page26-button26" style="font-weight:600;">
                <
            </button>
            <button class="button button-positive button-block paginador" id="page26-button29">
                1
            </button>
            <button class="button button-positive button-block paginador-act" id="page26-button31">
                2
            </button>
            <button class="button button-positive button-block paginador" id="page26-button32">
                >
            </button>
            <button class="button button-stable button-block paginador-des" id="page26-button33">
                >>
            </button>
        </div>
        <ion-list id="page26-list31">
            <ion-item class="item-icon-left botones" id="page26-list-item28" ui-sref="menu.page23">
                <i class="icon No Icon">
                </i>
                SERVICIOS
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>