<ion-view id="page19" style="background-color:#DEEDF1;" title="">
    <ion-content class="has-header" padding="false">
        <ion-list id="page19-list19">
            <ion-item class="item-avatar" id="page19-list-item42">
                <h2>
                    {{np_usuario.nombres | capitalize}} {{np_usuario.ap_paterno | capitalize}}
                </h2>
            </ion-item>
        </ion-list>
        <div class="logo1">
            <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <h4 id="page19-heading71" style="color:#505151;font-weight:600;text-align:center;">
            Contraseña Recuperada
        </h4>
        <form class="list" id="page19-form19">
            <h1 class="col2" id="page19-heading72" style="color:#505151;text-align:center;">
                Su contraseña ha sido enviada a su correo asociado a su cuenta
            </h1>
            <a class="button button-balanced boton" id="page19-button28" ui-sref="menu.home">
                Ingresar
            </a>
            <ion-item class="item-icon-left botones" id="page19-list-item43" ui-sref="menu.page23">
                <i class="icon No Icon">
                </i>
                SERVICIOS
            </ion-item>
        </form>
    </ion-content>
</ion-view>