<ion-view id="page15" nav-transition="none" style="background-color:#DEEDF1;" title="">
    <ion-content class="has-header" padding="false">
        <ion-list id="page15-list15">
            <ion-item class="item-avatar" id="page15-list-item32">
                <h2>
                    {{np_usuario.nombres | capitalize}} {{np_usuario.ap_paterno | capitalize}}
                </h2>
            </ion-item>
        </ion-list>
        <div class="logo1">
            <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <h4 id="page15-heading51" style="color:#505151;font-weight:600;text-align:center;">
            Registro
        </h4>
        <form class="list" id="page15-form15">
            <div class="perfil">
                <img src="img/sArxEldbQSqmkN46gHBU_perfil1.jpg" style="display: block; margin-left: auto; margin-right: auto;">
                </img>
            </div>
            <h1 id="page15-heading52" style="color:#505151;font-weight:600;text-align:center;">
                Carolina María Riquelme Vera
            </h1>
            <h3 id="page15-heading53" style="color:#555353;text-align:center;">
                carolina@gmail.com
            </h3>
            <h3 id="page15-heading59" style="color:#555353;text-align:center;">
                Sexo Femenino
            </h3>
            <h3 id="page15-heading54" style="color:#555353;text-align:center;">
                Nacimiento 22/12/1955
            </h3>
            <h3 id="page15-heading56" style="color:#555353;text-align:center;">
                13.653.876-3
            </h3>
            <h3 id="page15-heading57" style="color:#555353;text-align:center;">
                Chile- Valparaíso
            </h3>
            <a class="button button-assertive boton5" id="page15-button20" ui-sref="menu.page16">
                Editar Datos
            </a>
            <a class="button button-balanced boton5" id="page15-button21" ui-sref="menu.page25">
                Confirmar
            </a>
            <ion-item class="item-icon-left botones" id="page15-list-item33" ui-sref="menu.page23">
                <i class="icon No Icon">
                </i>
                SERVICIOS
            </ion-item>
        </form>
    </ion-content>
</ion-view>