<ion-view id="page11" nav-transition="none" style="background-color:#DEEDF1;" title="">
    <ion-content class="has-header" padding="false">
        <ion-list id="page11-list11">
            <ion-item class="item-avatar" id="page11-list-item18">
                <h2>
                    {{np_usuario.nombres | capitalize}} {{np_usuario.ap_paterno | capitalize}}
                </h2>
            </ion-item>
        </ion-list>
        <div class="logo1">
            <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <h4 id="page11-heading24" style="color:#505151;font-weight:600;text-align:center;">
            Conmemoraciones
        </h4>
        <form class="list" id="page11-form11">
            <h4 class="title1" id="page11-heading25" style="color:#2075BA;font-weight:600;text-align:center;">
                Nombre Conmemoración
            </h4>
            <h3 id="page11-heading26" style="color:#555353;text-align:center;">
                22/06/2014
            </h3>
            <div class="show-list-numbers-and-dots biografia" id="page11-markdown2" style="text-align:center;">
                <p style="color:#505151;">
                    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                </p>
            </div>
            <button class="button button-assertive boton6" id="page11-button12">
                Eliminar
            </button>
            <h4 class="title1" id="page11-heading40" style="color:#2075BA;font-weight:600;text-align:center;">
                Nombre Conmemoración
            </h4>
            <h3 id="page11-heading41" style="color:#555353;text-align:center;">
                22/06/2014
            </h3>
            <div class="show-list-numbers-and-dots biografia" id="page11-markdown4" style="text-align:center;">
                <p style="color:#505151;">
                    Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto.
                </p>
            </div>
            <button class="button button-assertive boton6" id="page11-button14">
                Eliminar
            </button>
            <button class="button button-balanced boton" id="page11-button15">
                Crear Fecha
            </button>
            <ion-item class="item-icon-left botones" id="page11-list-item19" ui-sref="menu.page23">
                <i class="icon No Icon">
                </i>
                SERVICIOS
            </ion-item>
        </form>
    </ion-content>
</ion-view>