<ion-view id="page10" nav-transition="none" style="background-color:#DEEDF1;" title="">
    <ion-content class="has-header" padding="false">
        <ion-list id="page10-list10">
            <ion-item class="item-avatar" id="page10-list-item15">
                <h2>
                    {{np_usuario.nombres | capitalize}} {{np_usuario.ap_paterno | capitalize}}
                </h2>
            </ion-item>
        </ion-list>
        <div class="logo1">
            <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <h4 id="page10-heading12" style="color:#505151;font-weight:600;text-align:center;">
            Vista Biografía
        </h4>
        <form class="list" id="page10-form10">
            <div class="perfil">
                <img src="{{difunto.url_avatar}}" style="display: block; margin-left: auto; margin-right: auto;">
                </img>
            </div>
            <div class="iconos1">
                <a style="display:block;" ui-sref="menu.page11">
                    <img src="img/KcAOi8W9Tk2aUhSaZTwR_conmemoracion-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
                    </img>
                </a>
            </div>
            <div class="iconos">
                <a style="display:block;" ui-sref="menu.page12">
                    <img src="img/4E6LkQxQtCTMlzb783SX_circulo-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
                    </img>
                </a>
            </div>
            <h1 id="page10-heading15" style="color:#505151;font-weight:600;text-align:center;">
                {{difunto.nombres}} {{difunto.ap_paterno}}
            </h1>
            <h3 id="page10-heading18" style="color:#555353;text-align:center;">
                Sexo POCAZO (casi nada desde 25 años antes de su deceso)
            </h3>
            <h3 id="page10-heading19" style="color:#555353;text-align:center;">
                Nacimiento {{difunto.fec_nacimiento | date}}
            </h3>
            <h3 id="page10-heading20" style="color:#555353;text-align:center;">
                Defunción {{difunto.fec_fallecimiento | date}}
            </h3>
            <h3 id="page10-heading22" style="color:#555353;text-align:center;">
                Enterrada en {{difunto.nombreCementerio}} - {{difunto.nombrePais}}
            </h3>
            <h3 id="page10-heading23" style="color:#555353;text-align:center;">
                Biografía Creada por su nieta ???
            </h3>
            <h3 id="page10-heading21" style="color:#2070C0;font-style:italic;text-align:center;">
                {{difunto.epitafio}}
            </h3>
            <div class="show-list-numbers-and-dots biografia" id="page10-markdown1" style="text-align:center;">
                <p style="color:#505151;">
                    {{difunto.biografia}}
                </p>
            </div>
            <a class="button button-balanced boton" id="page10-button10" ui-sref="menu.page9">
                Editar
            </a>
            <ion-item class="item-icon-left botones" id="page10-list-item16" ui-sref="menu.page23">
                <i class="icon No Icon">
                </i>
                SERVICIOS
            </ion-item>
        </form>
    </ion-content>
</ion-view>