<ion-view id="page25" nav-transition="none" style="background-color:#DEEDF1;" title="">
    <ion-content class="has-header" padding="false">
        <ion-list id="page25-list27">
            <ion-item class="item-avatar" id="page25-list-item60">
                <h2>
                    {{np_usuario.nombres | capitalize}} {{np_usuario.ap_paterno | capitalize}}
                </h2>
            </ion-item>
        </ion-list>
        <div class="logo1">
            <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <h5 id="page25-heading96" style="color:#505151;font-weight:600;text-align:center;">
            Mi Perfil
        </h5>
        <form class="list" id="page25-form25">
            <br/>
            <div class="perfil">
                <img src="{{perfil_usuario.url_avatar}}" style="display: block; margin-left: auto; margin-right: auto;">
                </img>
            </div>
            <br/>
            <h3 class="ion-person" id="page25-heading97" style="color:#505151;font-size:18px;font-weight:500;text-align:center;">
                {{perfil_usuario.nombres}} {{perfil_usuario.ap_paterno}} {{perfil_usuario.ap_materno}}
            </h3>
            <h3 class="ion-email" id="page25-heading98" style="color:#505151;font-size:16px;font-weight:500;text-align:center;">
                {{perfil_usuario.email}}
            </h3>
            <h3 class="ion-calendar" h3="" id="page25-heading100" style="color:#555353;text-align:center;">
                {{perfil_usuario.fec_nacimiento | date }}
            </h3>
            <h3 class="ion-flag" id="page25-heading102" style="color:#555353;text-align:center;">
                {{perfil_usuario.nombrePais}} - {{perfil_usuario.nombreRegion}}
            </h3>
            <a class="button button-assertive boton" id="page25-button51" ng-click="modificarPerfil()">
                Editar Datos
            </a>
            <h5 id="page25-heading103" style="color:#505151;font-weight:600;text-align:center;">
                Mis Biografías
            </h5>
            <br/>
            <h4 id="page25-heading103" ng-if="data.difuntos == null" style="color:#505151;font-weight:600;text-align:center;">
                No hay Biografías por mostrar
            </h4>
            <br/>
            <ion-slide-box ng-if="data.difuntos.length != null">
                <ion-slide ng-repeat="difunto in data.difuntos">
                    <table border="0" width="100%">
                        <tr>
                            <td align="center">
                                <img height="134" ng-src="{{difunto.url_avatar}}" width="133">
                                </img>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="title11">
                                    Plan Gratuito
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="title11" ng-if="difunto.estado == 1">
                                    Biografia Activada
                                </div>
                                <div class="title11" ng-if="difunto.estado == 2">
                                    Biografia por Activar
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="title11">
                                    {{difunto.nombres}} {{difunto.ap_paterno}}
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="title10">
                                    *Titular/Amigo
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="title10" ng-if="difunto.estado == 1">
                                    <a class="boton-slide" href="#" role="button">
                                        Administrar
                                    </a>
                                </div>
                                <div class="title10" ng-if="difunto.estado == 2">
                                    <a class="boton-slide" href="#" role="button">
                                        Activar
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <br/>
                    <br/>
                </ion-slide>
            </ion-slide-box>
            <h5 id="page25-heading104" style="color:#505151;font-weight:600;text-align:center;">
                Mi Último Comentario
            </h5>
            <h4 id="page25-heading103" ng-if="data.ultComentario == null" style="color:#505151;font-weight:600;text-align:center;">
                No hay Comentario por mostrar
            </h4>
        </form>
        <div class="perfil14" ng-if="data.ultComentario != null">
            <img ng-src="{{data.ultComentario.url_avatar}}">
            </img>
        </div>
        <h1 class="col3" id="page25-heading105" ng-if="data.ultComentario != null" style="color:#555353;">
            {{data.ultComentario.nombres}} {{data.ultComentario.ap_paterno}} - Escribiste el siguiente comentario: {{data.ultComentario.texto | cut:true:50:' ...'}}
        </h1>
        <a class="button button-balanced boton" id="page25-button54" ui-sref="menu.page26">
            Ver Comentarios
        </a>
        <ion-list id="page25-list28">
            <ion-item class="item-icon-left botones" id="page25-list-item61" ui-sref="menu.page23">
                <i class="icon No Icon">
                </i>
                SERVICIOS
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
