<ion-view id="page23" style="background-color:#DEEDF1;" title="">
    <ion-content class="has-header" padding="false">
        <ion-list id="page23-list23">
            <ion-item class="item-avatar" id="page23-list-item55">
                <h2>
                    {{np_usuario.nombres | capitalize}} {{np_usuario.ap_paterno | capitalize}}
                </h2>
            </ion-item>
        </ion-list>
        <div class="logo1">
            <img src="img/tIrjN3XOQvGTqYimflpU_logo1-01.png" style="display: block; width: auto; height: auto; margin-left: auto; margin-right: auto;">
            </img>
        </div>
        <h4 id="page23-heading84" style="color:#505151;font-weight:600;text-align:center;">
            Buscar Servicio
        </h4>
        <form class="list" id="page23-form23">
            <label class="item item-select inp" id="page23-select33">
                <span class="input-label">
                    Categoría
                </span>
                <select ng-model="servicio" ng-options="servicio.id as servicio.nom_ser for servicio in servicios">
                </select>
            </label>
            <label class="item item-select inp" id="page23-select35">
                <span class="input-label">
                    Ciudad
                </span>
                <select ng-model="ciudad" ng-options="ciudad.id_comuna as ciudad.nom_com for ciudad in ciudades">
                </select>
            </label>
            <a class="button button-balanced boton" id="page23-button43" ng-click="buscar(ciudad)">
                Buscar
            </a>
            <ion-item class="item-icon-left botones" id="page23-list-item56" ui-sref="menu.page7">
                <i class="icon No Icon">
                </i>
                BIOGRAFÍAS
            </ion-item>
        </form>
    </ion-content>
</ion-view>